#CONFIG
env_filename: 'your_env_file_name.env'
env_dirname: 'abs/dirpath/to/env/file'

openai-api:
  assistant_type: "code_interpreter" #see documentation for other types
  assistant_model: "gpt-3.5-turbo" #gpt-4-1106-preview" #see documentation for other types
